link(rel='stylesheet' href='/stylesheets/tui-editor.min.css')
link(rel='stylesheet' href='/stylesheets/tui-editor-contents.min.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css')
script(src='/javascripts/tui-editor-Viewer-full.min.js')
.container.d-flex.flex-column.justify-content-center.align-items-center.c-content-area
  .row.w-100.pt-5
    h2.text-left.font-weight-bold #{category}
  .row.w-100.pt-5 
    h4.w-100.pb-2.font-weight-bold.border-bottom #{title}
  .row.w-100.py-3.d-flex.justify-content-start.align-items-center
    .p-1.w-25 작성자 | 
      a(href="#") #{username}
    .p-1.w-25.text-muted #{createDate}
  #editSection.w-100
  .row.w-100.py-4.d-flex.justify-content-between.align-items-center
    if isMyPost
      a.btn.btn-outline-warning.px-4.py-1.ml-2.c-btn(href=`/board/c/${categoryId}/p/1`) 목록으로
      button.btn.btn-outline-info.px-4.py-1.c-btn.js__updatebtn 수정
    else
      a.btn.btn-outline-warning.px-4.py-1.ml-2.c-btn(href=`/board/c/${categoryId}/p/1`) 목록으로
  input#boardId(type="hidden" name="boardId" value=`${boardId}`)
script.
  var contents = (`!{contents}`)
script(src='/javascripts/boardView.js')
.container.comments-container.mt-3
  h2.w-100.mt-4.text-left 댓글
  .comment-form
    form
      .form-group.mt-4
        label(for='comments')
          strong 댓글작성
        textarea.js__commentsText.form-control(name='comments' cols='40' rows='5')
      .form-group.text-right
        button.btn.btn-primary.px-4.js__commentSubmitBtn(type='button')
          | 제출
